<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<nav th:replace="layouts :: navbar"></nav>
<body>
	<div class="container">
		<form th:action="@{/find}" id="search-form"
			th:object="${SearchCriteria}" method="post">
			<div class="row pt-4">
				<div class="col-9">
					<div class="form-group input-group input-group-lg">
						<input type="text" th:value="${keyword}" name="keyword"
							id="keyword" class="form-control"
							placeholder="Enter Product Keywords.."
							aria-describedby="inputGroup-sizing-lg">
					</div>
				</div>
				<div class="col">
					<button type="submit" id="btn-search" class="btn btn-primary">Search</button>
				</div>
			</div>
		</form>
		<hr>
		<div id="resultData"></div>
		<div class = "d-flex justify-content-center">
		<div id="loader" class="spinner-border text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
		</div>
		
		<table th:if="${products != null}"
			class="table table-sm table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>product</th>
					<th>amount</th>
					<th>Model From</th>
					<th>Model To</th>
					<th>Brands Covered</th>
					<th>Tax</th>
					<th>Company</th>
					<th>Takaful</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${products}">
					<td th:text="${p.product}" />
					<td th:text="${p.amount}" />
					<td th:text="${p.modelFrom}" />
					<td th:text="${p.modelTo}" />
					<td th:text="${p.brands}" />
					<td th:text="${p.Tax}" />
					<td th:text="${p.Company.companyName}" />
					<td th:text="${p.Company.islamic}" />
				</tr>
			</tbody>

		</table>

	</div>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>